.input__input {
    background: transparent;
    color: #D9D9D9;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 0 11px 30px;
    width: 150px;
    border: none;
    outline: none;
}

.input {
    border-radius: 40px;
    border: 3px solid #D9D9D9;
    display: flex;
    padding-right: 12px;
}


.input__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input__button {
    background: transparent;
    border: none;
    color: #D9D9D9;
    text-align: center;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.less-button {
    transform: rotate(180deg);
}

.input__button:hover {
    cursor: pointer;
}

.input-text {
    background: transparent;
    display: block;
    color: #D9D9D9;
    text-align: center;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 58px;
    border: 3px solid #D9D9D9;
    width: 90%;
    text-align: left;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
}