.concerts {
    padding-top: 60px;
    display: flex;
    gap: 60px;
    flex-direction: column;
}

@media screen and (max-width: 864px) {
    .concerts {
        gap: 20px;
    }
}

.concerts__error {
    text-align: center;
    color: #D9D9D9;
    font-family: Comfortaa;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 60px;
}