.search-panel {
    width: calc(100vw - (100vw / 5.75));
    margin: auto;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search__input {
    outline: none;
    border: 0;
    background: #D9D9D9;
    color: #1A1A1A;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 60px;
}

.search {
    background: #D9D9D9;
    width: 100%;
    display: flex;
    border-radius: 60px;
}

.search__icon {
    padding: 9px 15px;
    cursor: pointer;
}

.search__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search__filters {
    flex-shrink: 0;
    width: 30px;
}

.filter__button {
    display: flex;
    color: #D9D9D9;
    text-align: center;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 9px;
    cursor: pointer;
}

.filters {
    display: flex;
    gap: 20px;
}

.filter {
    padding: 9px 56px;
    border-radius: 58px;
    border: 3px solid #D9D9D9;
    background: #D9D9D9;
    display: flex;
    gap: 28px;
    color: #1A1A1A;
    text-align: center;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
}

.filter__cross-icon {
    width: 12px;
    height: 22px;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

@media screen and (max-width: 864px) {
    .filter__button span{
        display: none;
    }
    .filter-icon {
        display: block;
    }
    .filters {
        overflow-x: scroll;
    }

    .filters::-webkit-scrollbar {
        display: none;
    }

    .filter {
        flex-shrink: 0;
    }

    .search__wrapper {
        gap: 5px;
    }
}