.header {
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    background-color: #775A85;;
}

.header__list {
    gap: 90px
}

.list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-info {
    display: flex;
    gap: 5px;
}

.header__element > *{
    color: #D9D9D9;
    text-align: center;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.user-info > * {
    color: #D9D9D9;
    text-align: center;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}