.header {
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    background-color: #775A85;;
}

.header__list {
    gap: 90px
}

.list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-info {
    display: flex;
    gap: 5px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.element > *{
    color: #D9D9D9;
    text-align: center;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: 0.5s;
}

.element:hover > *{
    color: white
}

.user-info > * {
    color: #D9D9D9;
    text-align: center;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__element_active {
    position: relative;
}

.header__element_active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    background: rgba(217, 217, 217, 1);
    height: 2px;
    border-radius: 2px;
    transition: 1s;
    animation: show-from-left 1s ease forwards;
}

@keyframes show-from-left {
    to {
        width: 100%;
    }
}

.login, .registration {
    cursor: pointer;
    transition: 0.5s;
}

.login:hover, .registration:hover {
    color: white;
}

.header:has(.modal) .header{
    padding: 0;
}