.concert-page__images img{
    width: 300px;
    height: auto;
    object-fit: cover;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
}

.concert-page {
    background: #1A1A1A;
    display: flex;
    flex-wrap: wrap;
    padding: 70px 40px;
    gap: 60px 20px;
    min-height: calc(100vh - 268px);
    justify-content: center;
}

.concert-page__images {
    flex-basis: 30%;
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.concert-page__info {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.concert-page__inputs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.concert-page__wrapper > div{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.concert-page__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.concert-page__p {
    color: #D9D9D9;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.concert-page__map {
    flex-basis: 40%;
    align-self: flex-start;
}

.concert-page__addition-info {
    flex-basis: 40%;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

@media screen and (max-width: 864px) {
    .concert-page__images {
        margin: auto;
    }
    .concert-page__wrapper {
        flex-direction: column;
    }
}

.loader {
    color: #D9D9D9;
    background: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 128px);
}

.concert-page__info, .concert-page__addition-info, .concert-page__map {
    padding: 30px;
    border-radius: 30px;
    background: linear-gradient(180deg, #775A85 0%, #C97FEC 100%);
}

#map {
    display: flex;
    align-items: center;
    justify-content: center;
}

.concert-page__addition-info {
    height:fit-content;
}